<h1>Interesting People</h1>
<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="setup()">

    <datalist id="names">
      <option ng-repeat="person in people">{{ person.name }}</option>
    </datalist>

    <div>
      Filter Name: <input type="text" ng-model="nameFilter" list="names">
    </div>
    
    <table>
      <tr id="headers">
        <th ng-click="toggleOrderAttribute('name')">Name</th>
        <th ng-click="toggleOrderAttribute('bio')">Bio</th>
        <th> </th>
      </tr>
      <tr id="ascending-markers">
        <th>{{ arrowForOrder('name') }}</th>
        <th>{{ arrowForOrder('bio') }}</th>
        <th></th>
      </tr>
      <tr ng-repeat="person in people | filter: { name: nameFilter } | orderBy:orderAttribute:descending">
        <td>{{ person.name }}</td>
        <td>{{ person.bio }} </td>
        <td class="delete-button" ng-click="deletePerson(person)">Delete</td>
      </tr>
    </table>
    <div ng-repeat="person in people | filter: { name: nameFilter } | orderBy:orderAttribute:descending">
    </div>

    <div id="new-person-form">
      <li ng-repeat="error in errors track by $index">{{ error }}</li>
      Name: <input type="text" ng-model="newPersonName">
      Bio: <input type="text" ng-model="newPersonBio">
      <button ng-click="addPerson(newPersonName, newPersonBio)">Add Person</button>
    </div>
    <div>
      <h4>Total number of people: {{ people.length }}</h4>
    </div>
  </div>
</div>
